<% layout('layouts/boilerplate') %>

<body>
<div class="row mt-3">
<div class="col-8 offset-2">
<div class="mb-3">
    <h3 >Edit the List</h3>

</div>
    <form method="POST" class="needs-validation" novalidate action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
         <label for="title" class="form-label" >Title</label>
         <input type="text" class="form-control" value="<%= listing.title %>" name="listing[title]" required>
         <div class="valid-feedback">
            Looks good!
          </div>
        </div> 
        
        <div class="mb-3">
         <label for="description" class="form-label" >Description</label>
 
         <textarea name="listing[description]" class="form-control" required cols=""   value="<%= listing.description %>" id=""></textarea>
         <div class="invalid-feedback">
            Please enter a short description!
          </div>
        </div>
       
        <div class="mb-3">
         <label for="image" class="form-label" >Image Link</label>
         <input required type="text" class="form-control"  placeholder="enter image url link" required name="listing[image]">
        
        </div>
 
        <div class="row">
            <div class=" col-md-4 mb-3">
                <label for="pricing" class="form-label" >Pricing</label>
                <input required type="number" class="form-control" required  value="<%= listing.price %>" name="listing[price]">
                <div class="invalid-feedback">
                    Please enter a short description!
                  </div>
               </div>

               <div class=" col-md-8 mb-3">
                <label for="country" class="form-label" >Country</label>
                    <input type="text" required class="form-control" required value="<%= listing.country %>" name="listing[country]">
                    <div class="invalid-feedback">
                        Please enter country!
                      </div>
                   </div>
               
        </div>
     
 <div class="mb-3">
     <label for="location" class="form-label" >Location</label>
     <input type="text" required class="form-control" value="<%= listing.location %>" name="listing[location]">
     <div class="invalid-feedback">
        Please enter your location!
      </div>
 
 </div>
     
  
 
         <button class="btn add-btn">Add</button>
     </form>
</div>
</div>